
a{
    text-align:center!important;
}
.droppanel1 {
    padding: 10px;
    padding-bottom:2px;
    background:  url(http://spiralpixelthemes.co.uk/rtd/rtd/dark/style/images/texture.png);
    background-repeat: repeat-x;
}
.droppanel2{
    padding: 10px;
    background:  url(http://spiralpixelthemes.co.uk/rtd/rtd/dark/style/images/texture.png);
    background-repeat: repeat-x;
}