
@media only screen and (min-device-width: 200px) and (max-device-width: 767px) {
    .pro-sidebar {
        color: white!important;
      
        width: 100%!important;
        min-width: 270px;
    }
    .gap-7 {
        gap: 0rem!important;
    }
    .adminMakerStyle{
        margin:0 10%!important;
        background-color: aqua!important;
        border-radius:0.75rem!important;
    }
}

/* .proSidebarStyle:hover{

        margin:0 10%!important;
        background-color: aqua!important;
        border-radius:0.75rem!important;

} */
@media only screen and (min-device-width: 200px) and (max-device-width: 767px) {
    .proSidebar{
        height:60vh;
        padding-bottom:20px;
    }

}
@media only screen and (min-device-width:768px) and (max-device-width:2000px) {
    .proSidebar{
        height:130vh;
        position:fixed;
        padding-bottom:20px;
    }

}